.React2 {
  transform: rotate(45deg) translate(-6px, 15px);
  transform-origin: center;
}

.Diagram {
  width: 100%;
  opacity: 0.8;
  transform: scale(1);
  transition: all 200ms ease-in-out;
  max-width: 500px;
}
.Hidden {
  opacity: 0;
  transform: scale(0);
}
.DiagramValue {
  //fill: #fff;
}

.PeriodText {
  font-size: 7px;
}

.PeriodValue {
  font-size: 10px;
}
