.Avatar {
  height: 250px;
  border-radius: 100%;
}
.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5px 50px;
  border-radius: 15px;
  * {
    text-transform: uppercase;
    text-align: center;
  }
}
